
{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h2>Healthcare Prediction</h2>
    <p>Input the following information and click submit to make a health prediction.</p>

    <form action="#" method="post" class="add-entry">
        <div class="section">
            <div class="form-group">
                <br>{{ generate_input_lines() | safe }}
                <br><input type="submit" class="btn btn-success" value="Submit">
            </div>
        </div>
    </form>
<body>
{% endblock %}
